# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log
*.pth
*.pkl
*.pt
*.onnx
.DS_Store

# Virtual environments
venv/
.env/
.venv/
venv312/

# Logs and outputs
*.log

# Tensorboard logs
runs/*
!runs/**/*.ipynb

# WandB stuff
wandb/*

# Allow for the model statedicts used in the paper with .pth extension
!synthesis/isprs/ccvae/ccvae_statedict.pth
!synthesis/isprs/diffusion/gdstreamline_statedict.pth